body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0, 10, 31, 255);
  /* overflow-y: scroll; */
}
body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #00c7ff;
}
body::-webkit-scrollbar-thumb {
  background-color: blue;
  border-radius: 20px;
  border: 3px solid white;
}
/* navbar */
.link {
  cursor: pointer;
}

/* contact */
.phone {
  transition: all 0.5s ease-in-out;
}

.phone:hover {
  border-radius: 30px;
  color: white;
  background: rgba(0, 10, 31);
  text-shadow: 0 0 5px #00c7ff, 0 0 10px #00c7ff, 0 0 15px #00c7ff,
    0 0 20px #00c7ff, 0 0 30px #00c7ff, 0 0 40px #00c7ff, 0 0 55px #00c7ff,
    0 0 75px #00c7ff;
  color: white;
  background: rgba(0, 10, 31);
}

.email {
  transition: all 0.5s ease-in-out;
}
.email:hover {
  border-radius: 30px;
  color: white;
  background: rgba(0, 10, 31);
  text-shadow: 0 0 5px #00c7ff, 0 0 10px #00c7ff, 0 0 15px #00c7ff,
    0 0 20px #00c7ff, 0 0 30px #00c7ff, 0 0 40px #00c7ff, 0 0 55px #00c7ff,
    0 0 75px #00c7ff;
  color: white;
  background: rgba(0, 10, 31);
}

/* .navbar.colorChange{
  box-shadow: "#00C7FF 0px 5px 15px";
  
}

.navbar{
  box-shadow: none;
} */

/* @media all and (min-width:768px) and (max-width:1024px){
  #whole-item{
    margin-left: 0px;
    
  }
}
@media all and (min-width:425px) and (max-width:767px){
  #whole-item{
    margin-left: 0px;
    
  }
}
@media all and (min-width:375px) and (max-width:425px){
  #whole-item{
    margin-left: 0px;
    
  }
}
@media all and (min-width:320px) and (max-width:375px){
  #whole-item{
    margin-left: 0px;
  
  }

} */
